body {
  font-size: 15px;
  font-family: Montserat, 'Open Sans', Helvetica, Arial;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  color: white;
  row-gap: 20px;
}

h1 {
  font-family: Oswald, Arial, sans-serif;
  font-size: 60px;
  margin: 0;
  line-height: 1.1em;
}

p {
  line-height: 1.3em;
}

.wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 50px;
  background-color: black;
  background: linear-gradient(132deg, black, #1b222c);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 30px;
  justify-content: center;
}

footer {
  flex: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #e7c416;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 30px;
  font-size: 12px;
}

.link {
  opacity: 0.5;
  text-decoration: underline;
  font-size: 10px;
  margin-top: 4px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #e7c416;
}

.logo svg {
  height: 20px;
  width: auto;
  fill: #ffffff;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.logo:after {
  width: 4px;
  height: 4px;
  content: '';
  border-radius: 50%;
  background-color: #e7c416;
}
