@import '../styles/base.scss';

.page {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  max-width: auto;
}

.nav_row {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 36px;
  margin: 4em 0;
  align-items: baseline;
}

.arrow_link {
  font-size: 30px !important;
  font-weight: 200;
  font-family: Arial, sans-serif;
  &:hover {
    text-decoration: none;
  }
}

.title {
  @include text-title();

  font-size: 2.4em;

  @include mf-breakpoint-at('tablet-vertical') {
    font-size: 2.6em;
  }
  @include mf-breakpoint-at('tablet-landscape') {
    font-size: 2.8em;
  }
  @include mf-breakpoint-at('laptop') {
    font-size: 3em;
  }
}

.description {
  @include text-regular();

  font-size: 1em;

  @include mf-breakpoint-at('tablet-vertical') {
    font-size: 1.2em;
  }
  @include mf-breakpoint-at('laptop') {
    font-size: 1.3em;
  }
}
